* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-color: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 30%;
    height: 70%;
    background-color: rgb(101, 101, 101);
    border-radius: 15px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-name {
    color: white;
    font-weight: bold;   
}

.score {
    color: yellow;
    font-weight: bold;
}

/* Media Queries */

@media (max-width: 600px) {
    .container {
        width: 40%;
        height: 25%;
    }
}